body {
  font-family: Verdana,Arial,Helvetica,sans-serif;

  padding-bottom: 40px;
  background-color: #2A3698;
}
.logo{
  font-family: Verdana,Arial,Helvetica,sans-serif;
  font-size: 46px;
  color: #FFFF5F;
  text-align:center;
  margin-top:1em;
}
hr {
  margin-top: 10px;
  margin-bottom: 10px;
  border: 0;
  border-top: 1px solid #000;
}

.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}
.form-signin .checkbox {
  font-weight: normal;
}
.form-signin .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="text"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
html body div.container-admin div.panel-admin div.panel-body{
  font-family: Verdana,Arial,Helvetica,sans-serif;

}
h1,h2,h3,h4,h5,h6{
  font-family: Verdana,Arial,Helvetica,sans-serif;

}
body div.container-admin div.panel-admin div.panel-body a.btn{
  font-family: Verdana,Arial,Helvetica,sans-serif;

}
.panel-admin{
  font-family: Verdana,Arial,Helvetica,sans-serif;
  margin-top:.5em;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 30px;
}
.container-admin{
  font-family: Verdana,Arial,Helvetica,sans-serif;
  width: 750px;
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
}
