<h1>Pistas por categoria</h1>
<form class="form-horizontal">
  <fieldset>
    <legend>Asignar puntuaciones</legend>
    <div class="form-group">
      <label for="clue200" class="col-lg-2 control-label">Pista de 200</label>
      <div class="col-lg-10">
        <input type="text" class="form-control" id="clue200" placeholder="200">
      </div>
    </div>
    <div class="form-group">
      <label for="clue400" class="col-lg-2 control-label">Pista de 400</label>
      <div class="col-lg-10">
        <input type="text" class="form-control" id="clue400" placeholder="400">
      </div>
    </div>
    <div class="form-group">
      <label for="clue600" class="col-lg-2 control-label">Pista 600</label>
      <div class="col-lg-10">
        <input type="text" class="form-control" id="clue600" placeholder="600">
      </div>
    </div>
    <div class="form-group">
      <label for="clue800" class="col-lg-2 control-label">Pista 800</label>
      <div class="col-lg-10">
        <input type="text" class="form-control" id="clue800" placeholder="800">
      </div>
    </div>
    <div class="form-group">
      <label for="clue1000" class="col-lg-2 control-label">Pista 1000</label>
      <div class="col-lg-10">
        <input type="text" class="form-control" id="clue1000" placeholder="1000">
      </div>
    </div>
  </fieldset>
</form>

<a href="#" class="btn btn-primary">Asignar pistas</a>
