<h1>Bienvenido</h1>

<a href="/game/new" class="btn btn-default btn-lg btn-block">Juego nuevo</a>
<br>
<a href="/profiles/1/edit" class="btn btn-default btn-lg btn-block">Editar perfil</a>
<br>
<a href="/logout" class="btn btn-default btn-lg btn-block">Logout</a>
