<h1>Juego individual</h1>

<div class="form-group">
  <label class="control-label" for="focusedInput">Alumno 1</label>
  <input class="form-control" id="focusedInput" type="text" value="Nombre...">
</div>
<div class="form-group">
  <label class="control-label" for="focusedInput">Alumno 2</label>
  <input class="form-control" id="focusedInput" type="text" value="Nombre...">
</div>
<div class="form-group">
  <label class="control-label" for="focusedInput">Alumno 3</label>
  <input class="form-control" id="focusedInput" type="text" value="Nombre...">
</div>
