<form action="/login" class="form-signin" role="form" method="post">
  <h2 class="form-signin-heading" align="center">Inicia sesión</h2>
  <input name="user[email]" type="text" class="form-control" placeholder="Usuario" required autofocus>
  <br>
  <input name="user[password]" type="password" class="form-control" placeholder="Contraseña" required>
  <br>
  <button class="btn btn-primary btn-block" type="submit">Entrar</button> <br>
  <a href='/register'>Registrarse</a> <br>
</form>

<br>
<br>
