<form class="form-horizontal">
  <fieldset>
    <legend>Nuevo juego.</legend>
    <div class="form-group">
      <label for="select" class="col-lg-2 control-label">Clase</label>
      <div class="col-lg-10">
        <select data-placeholder="Elige una opcion..." class="chosen-select" tabindex="2" id="select">
          <option value=""></option>
          <option value="Opcion 1">Opcion 1</option>
          <option value="Opcion 2">Opcion 2</option>
          <option value="Opcion 3">Opcion 3</option>
          <option value="Opcion 4">Opcion 4</option>
          <option value="Opcion 5">Opcion 5</option>
        </select>
      </div>
    </div>

    <div class="form-group">
      <label for="select" class="col-lg-2 control-label">Tema</label>
      <div class="col-lg-10">
        <select data-placeholder="Elige una opcion..." class="chosen-select" tabindex="2" id="select">
          <option value=""></option>
          <option value="Opcion 1">Opcion 1</option>
          <option value="Opcion 2">Opcion 2</option>
          <option value="Opcion 3">Opcion 3</option>
          <option value="Opcion 4">Opcion 4</option>
          <option value="Opcion 5">Opcion 5</option>
        </select>
      </div>
    </div>

    <div class="form-group">
      <label for="select" class="col-lg-2 control-label">Jugador 1</label>
      <div class="col-lg-10">
        <select data-placeholder="Elige una opcion..." class="chosen-select" tabindex="2" id="select">
          <option value=""></option>
          <option value="Opcion 1">Opcion 1</option>
          <option value="Opcion 2">Opcion 2</option>
          <option value="Opcion 3">Opcion 3</option>
          <option value="Opcion 4">Opcion 4</option>
          <option value="Opcion 5">Opcion 5</option>
        </select>
      </div>
    </div>

    <div class="form-group">
      <label for="select" class="col-lg-2 control-label">Jugador 2</label>
      <div class="col-lg-10">
        <select data-placeholder="Elige una opcion..." class="chosen-select" tabindex="2" id="select">
          <option value=""></option>
          <option value="Opcion 1">Opcion 1</option>
          <option value="Opcion 2">Opcion 2</option>
          <option value="Opcion 3">Opcion 3</option>
          <option value="Opcion 4">Opcion 4</option>
          <option value="Opcion 5">Opcion 5</option>
        </select>
      </div>
    </div>

    <div class="form-group">
      <label for="select" class="col-lg-2 control-label">Jugador 3</label>
      <div class="col-lg-10">
        <select data-placeholder="Elige una opcion..." class="chosen-select" tabindex="2" id="select">
          <option value=""></option>
          <option value="Opcion 1">Opcion 1</option>
          <option value="Opcion 2">Opcion 2</option>
          <option value="Opcion 3">Opcion 3</option>
          <option value="Opcion 4">Opcion 4</option>
          <option value="Opcion 5">Opcion 5</option>
        </select>
      </div>
    </div>

    <a href="#" class="btn btn-default btn-lg btn-block">Jeopardy!</a>

  </fieldset>
</form>
