<h1>Nuevo juego.</h1>

<h1>Juego individual</h1>

<div class="form-group">
  <label class="control-label" for="focusedInput">Alumno 1</label>
  <input class="form-control" id="focusedInput" type="text" value="Nombre...">
</div>
<div class="form-group">
  <label class="control-label" for="focusedInput">Alumno 2</label>
  <input class="form-control" id="focusedInput" type="text" value="Nombre...">
</div>
<div class="form-group">
  <label class="control-label" for="focusedInput">Alumno 3</label>
  <input class="form-control" id="focusedInput" type="text" value="Nombre...">
</div>

<div class="form-group">
  <label for="select" class="col-lg-2 control-label">Clase</label>
  <div class="col-lg-10">
    <select class="form-control" id="select">
      <option>Opciones</option>
    </select>
  </div>
</div>

<div class="form-group">
  <label for="select" class="col-lg-2 control-label">Tema</label>
  <div class="col-lg-10">
    <select class="form-control" id="select">
      <option>Opciones</option>
    </select>
  </div>
</div>

<a href="#" class="btn btn-default btn-lg btn-block">Jeopardy!</a>
