<form action="/password" class="form-signin" role="form" method="post">
  <h2 class="form-signin-heading" align="center">Cambiar password</h2>
  <input name="user[name]" type="hidden" value="<%= current_user.name %>">
  <br>
  <input name="user[email]" type="hidden" value="<%= current_user.email %>">
  <br>
  <input name="user[password]" class="form-control" placeholder="Contraseña" type="text" value="<%= current_user.password %>">
  <br>
  <button class="btn btn-primary btn-block" type="submit">Cambiar Contraseña</button> <br>
</form>
<br>
<br>
