<form action="/register" class="form-signin" role="form" method="post">
  <h2 class="form-signin-heading" align="center">Registro</h2>
  <input name="user[name]" type="text" class="form-control" placeholder="Nombre" required autofocus>
  <br>
  <input name="user[email]" type="mail" class="form-control" placeholder="Correo" required>
  <br>
  <button class="btn btn-primary btn-block" type="submit">Registrar</button> <br>
</form>
<br>
<br>
